<.form let={f} for={@changeset} action={@action}>
  <label for="address">Find your store on the map:</label>
  <%= text_input f, :address, placeholder: "Search your store address" %>
  <%= error_tag f, :address %>

  <%= text_input f, :google_id, placeholder: "Google Maps place ID", readonly: true %>
  <%= error_tag f, :google_id %>

  <div id="map"></div>
  
  <div>
    <%= submit "Register" , id: "register" %>
  </div>

  <script async
	  src={google_api_source()}>
  </script>
</.form>
