<h1>Show Store</h1>

<ul>

  <li>
    <strong>Address:</strong>
    <%= @store.address %>
  </li>

  <li>
    <strong>Google:</strong>
    <%= @store.google_id %>
  </li>

</ul>

<span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>
