<.form let={f} for={@conn} action={@action}>
  <label for="title">Title</label>
  <%= text_input f, :title %>

  <label for="description">Description</label>
  <%= textarea f, :description, placeholder: "(Optional)" %>

  <label for="price">Price</label>
  <%= text_input f, :price, placeholder: "In EUR" %>

  <div>
    <%= submit "Create", id: "create" %>
  </div>
</.form>
