<h1>New Offer</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.store_offer_path(@conn, :create, @store_id)) %>

<span><%= link "Back", to: Routes.store_offer_path(@conn, :index, @store_id) %></span>
