<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Droplet" %></h1>
  <p>Lorem ipsum dolor sit amet</p>
</section>

Lorem ipsum

<span><%= link "Register New Store", to: Routes.store_path(@conn, :new) %></span>
