<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Droplet" %></h1>
  <p>Lorem ipsum dolor sit amet</p>
</section>

<ul style="list-style: none">
  <li>
    <a class="button" href="/auth/google">
      <i class="fa fa-google"></i>
      Sign in with Google
    </a>
  </li>
</ul>
