<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Droplet" %></h1>
  <p>Lorem ipsum dolor sit amet</p>
</section>

<h2>Your stores:</h2>

<%= render DropletStoreWeb.StoreView, "list.html", assigns %>

<span><%= link "Register New Store", to: Routes.store_path(@conn, :index) %></span>
